<!doctype html>
<title>{% block title %}{% endblock %} GymRack</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/gym_icon_orng.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="full-body-container">
        <div class="top-text">
            <!-- orange color used for icon: #8C4A2D -->
            <!-- blue color used for title text: #17404c -->
            <div class="titleicon">
                <img src="{{ url_for('static', filename='images/gym_title_blue_minspace.png') }}" height="200px" />
                <img src="{{ url_for('static', filename='images/gym_icon_orng.png') }}" height="250px"/>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/search_mag.png') }}" />
                <input placeholder="Search for a gym that meets your needs" id="filter-text-val" onkeyup="filterText()">
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(title,titleDesc,rating){
            return `<div class=''>
                <p class="episode-divider">_______________________________________________________________________________________</p>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-rating'>IMDB Rating: ${rating}</p>
                <p class='episode-desc'>${titleDesc}</p>
                <p class="episode-divider">_______________________________________________________________________________________</p>
            </div>`
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText(){
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            .then((response) => response.json())
            .then((data) => data.forEach(row => {
                
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(row.title,row.descr,row.imdb_rating)
                document.getElementById("answer-box").appendChild(tempDiv)
            }));

        }
            
    </script>
</body>